<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
</head>
<body>
    <header>
        <a href="/">Register</a>
        <a href="#">Login</a>
    </header>
    <form action="/login" method="post">
        <label for="email">Enter Email</label>
        <input type="email" name="lemail">
        <label for="email">Enter Password</label>
        <input type="password" name="lpassword">
        <input type="submit" value="login">
    </form>
</body>
</html>